<h1>List of PokéTeams</h1>
<br><br>

  <% Team.all.each do |team| %>
    <h3><a href='/teams/<%= team.id %>'><%= team.name %></a></h3>
    <h4>Pokémon Trainer: <a href='/users/<%= team.user.id %>'><%= team.user.username %></a></h4>
    <br><br>
  <% end %>

<br>

<ul>
  <li><a href="/teams/new">Create a PokéTeam</a></li>
  <li><a href="/users/<%= current_user.id %>">Your PokéTeams</a></li>
  <li><a href="/users">Home</a></li>
</ul>